<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>to-do-list</title>
</head>
<body>
  
 
  <h1 style ="color:palegoldenrod" id="heading">
    <%= listTitle %> List
  </h1>
  <div class="box">
    
    <% for(var i=0; i<newItems.length ; i++ ){  %>
   <div class="item">
    <input type="checkbox" >
    <p><%= newItems[i] %></p>
   </div>
   <% } %>
  </ul>

  <form action="/" class="item" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit">+</button>

  </form>


  
</body>
</html>